@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,700&family=Space+Grotesk&display=swap');
:root{
    --font-grotesk:'Space Grotesk', sans-serif;
    --font-roboto:'Roboto', sans-serif;
    --my-blue: #1d4ed8;
    --my-light-blue:#60a5fa ;
    --my-dark-blue:#1e3a8a ;
    --my-white:#dbeafe ;
    --my-gray-blue: #bfdbfe;
}

*{
    box-sizing: border-box;
}