@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,700&family=Space+Grotesk&display=swap');
:root{
    --font-grotesk:'Space Grotesk', sans-serif;
    --font-roboto:'Roboto', sans-serif;
    --my-blue: #ea580c;
    --my-light-blue:#fb923c ;
    --my-dark-blue:#7c2d12 ;
    --my-white:#ffedd5 ;
    --my-gray-blue: #fed7aa;
    --my-simple-gray:#d1d5db;
    --my-dark-zinc: #18181b;
}


*{
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: repeat(11,1fr);
    grid-auto-rows: minmax(50px,75px);   
}

/*left panel*/

div.panel.left{
    font-family: var(--font-roboto,sans-serif);
    background-color: var(--my-blue,blue);
    color: var(--my-dark-zinc,white);
    grid-row: 1/11;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(11,75px);
}   

div.svg.primary{
    grid-column: 1/2;
    grid-row:2/5;
    display: flex;
    flex-flow: column;
    flex-grow: 0;
    justify-content: space-evenly;
}

img.svg.primary {
    width: 30px;
    height: 22px;
    align-self: center;
}

button.primary, button.secundary, button.header{
    color: var(--my-dark-zinc,white);
    font-family: var(--font-roboto,sans-serif);
    background-color: var(--my-blue,blue);
    border: none;
    font-weight: bold;
    border-radius: 25px;
}

h3{
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
    margin-top: 20%;
    font-weight: bolder;
}

img.dashboard{
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 30.359px   ;
}

div.primary {
    grid-column: 2/3;
    grid-row:2/5;
    display: flex;
    flex-flow: column;
    flex-grow: 0;
    justify-content: space-evenly;
}

div.secundary{
    grid-column: 2/3;
    grid-row: 6/8;
    display: flex;
    flex-flow: column;
    flex-grow: 0;
    justify-content: space-evenly;
}

div.svg.secundary{
    grid-column: 1/2;
    grid-row: 6/8;
    display: flex;
    justify-content: space-evenly;
}

img.svg.secundary{
    width: 30px;
    height: 22px;
    align-self: center;
}

button.primary, button.secundary {
    text-align: left;
}


/*header*/

header{
    grid-column: 3/13;
    grid-row: 1/3;
    box-shadow: -5px 5px 5px  gray;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 0;
}

div.input{
    align-items: center;
    width: 66%;
    height: 50%;
    order: 1;
    display: flex;
    justify-content: center;
}

div.glass{
    width: 30%;
    order: 1;
    height:30%;
    display: flex;
    flex-grow: 0;
    justify-content: flex-end;
    align-content: center;
    margin-right: 10px;
}

input.searcher{
    border-radius: 25px;
    width: 70%;
    height: 40%;
    background-color: var(--my-simple-gray,gray);
    border-style: hidden;
    order: 2;
}

div.miniature {
    width: 33%;
    height: 50%;
    order: 2;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 0;
    align-content: flex-start;
    justify-content: center;
}

img.miniature{
    width: 30%;
    height: 50%;
    align-content: center;
    margin-top: 13px;
}

div.miniature > p{
    width: 66%;
    height: 30%;
    font-family: var(--font-roboto)
}



div.name.card{
    width: 66%;
    height: clamp(75px,50%,115px);
    border: var(--my-simple-gray);
    order: 3;
    display: flex;
    flex-grow: 0;
    flex-flow: column wrap;
    font-family: var(--font-grotesk);
    align-content: flex-start;
    justify-content: center;
}

img.name.card {
    width: 25%;
    height: 100%;
    order: 1;
    margin-bottom: 10px;
}
p.name{
    height:70%;
    width: 60%;
    order: 3;
    margin: 0px;
    font-weight: bold;
    margin-top: 5px;
    padding-top: 5px;
}

p.greetings{
    font-size: smaller;
    height: 20%;
    width: 25%;
    order: 2;
    margin: 0px;
}


div.button.container{
    width: 33%;
    height: 50%;
    order: 4;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 0;
    align-items: center;
}

button.header {
    width: 30%;
    height: 40%;
    font-weight: bold;
}

/*main content div*/

div.main.content {
    grid-column: 3/12;
    grid-row: 3/11;
    gap:7px;
    position: bottom;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,fr);
    gap: 10px;
    background-color: #e9eee6;
}

div#projects{
    grid-column: 1/-6;
    grid-row: 1/12;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);

}

div#infopanel{
    grid-row: 1/12;
    grid-column: -6/-2;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(8,1fr);
    border-radius: 25px;
}

h6 {
    grid-column: 2/5;
    text-align: left;
    font-family: var(--font-roboto);
    font-size: medium;
    margin: 0;
    margin-top: 20px;
    height: 50px;
}

div.announcements{
    grid-column: 2/6;
    grid-row: 2/5;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

p.announce {
    font-family: var(--font-roboto);
    font-weight: bold;
    font-size: small;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 10px;
}

p.announcement.text{
    font-size: 14px;
    font-family: var(--font-roboto);
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;
    border-bottom: 1px grey;

}


h6.two{
    grid-row:5/6
}

div.trending {
    grid-column: 2/6;
    grid-row: 6/9
}
div.account{
    height: 50px;
    width: 100%;
    display: flex;
    flex-flow: row;
    flex-grow: 0;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--font-grotesk);
    border: 1px solid grey;
    background-color: white;
}

img.account{
    width: 45%;
    height: 45%;
    order: 1;
}

p.account{
    font-size: smaller;
    font-weight: bold;
    text-align: left;
    width: 75%;
    height: 20px;
    order: 2;
    margin: 0px;
}


