@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,700&family=Space+Grotesk&display=swap');
:root{
    --font-grotesk:'Space Grotesk', sans-serif;
    --font-roboto:'Roboto', sans-serif;
    --my-blue: #ea580c;
    --my-light-blue:#fb923c ;
    --my-dark-blue:#7c2d12 ;
    --my-white:#ffedd5 ;
    --my-gray-blue: #fed7aa;
    --my-simple-gray:#d1d5db;
    --my-dark-zinc: #18181b;
}


*{
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-auto-rows: minmax(75px,auto);    
}

/*left panel*/

div.panel.left{
    font-family: var(--font-roboto,sans-serif);
    background-color: var(--my-blue,blue);
    color: var(--my-dark-zinc,white);
    grid-row: 1/10;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
}   

div.svg.primary{
    grid-column: 1/2;
    grid-row:2/5;
    display: flex;
    flex-flow: column;
    flex-grow: 0;
    justify-content: space-evenly;
}

img.svg.primary {
    width: 30px;
    height: 22px;
    align-self: center;
}

button.primary, button.secundary, button.header{
    color: var(--my-dark-zinc,white);
    font-family: var(--font-roboto,sans-serif);
    background-color: var(--my-blue,blue);
    border: none;
    font-weight: bold;
    border-radius: 25px;
}

h3{
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
    margin-top: 20%;
    font-weight: bolder;
}

img.dashboard{
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 30.359px   ;
}

div.primary {
    grid-column: 2/3;
    grid-row:2/5;
    display: flex;
    flex-flow: column;
    flex-grow: 0;
    justify-content: space-evenly;
}

div.secundary{
    grid-column: 2/3;
    grid-row: 6/8;
    display: flex;
    flex-flow: column;
    flex-grow: 0;
    justify-content: space-evenly;
}

div.svg.secundary{
    grid-column: 1/2;
    grid-row: 6/8;
    display: flex;
    justify-content: space-evenly;
}

img.svg.secundary{
    width: 30px;
    height: 22px;
    align-self: center;
}

button.primary, button.secundary {
    text-align: left;
}


/*header*/

header{
    grid-column: 3/13;
    grid-row: 1/3;
    box-shadow: -5px 5px 5px  gray;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 0;
    /*display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr 1fr;*/
}

div.input{
    align-items: center;
    width: 66%;
    height: 50%;
    order: 1;
    display: flex;
    justify-content: center;
}

div.glass{
    width: 30%;
    order: 1;
    height:30%;
    display: flex;
    flex-grow: 0;
    justify-content: flex-end;
    align-content: center;
    margin-right: 10px;
}

input.searcher{
    border-radius: 25px;
    width: 70%;
    height: 40%;
    background-color: var(--my-simple-gray,gray);
    border-style: hidden;
    order: 2;
}

div.miniature {
    width: 33%;
    height: 50%;
    border: #1d4ed8;
    order: 2;
}

div.name.card{
    width: 66%;
    height: 50%;
    border: var(--my-simple-gray);
    order: 3;
}


div.button.container{
    width: 33%;
    height: 50%;
    order: 4;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 0;
    align-items: center;
}

button.header {
    width: 30%;
    height: 40%;
    font-weight: bold;
}

/*main content div*/

